<div class="mx-auto" style="width: 500px">
<h1><%= t('.edit_a_task') %></h1>
<%= form_with( model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_expanation">
      <h2><%= @task.errors.count %><%= t('.errors') %></h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
  <%= form.label :title %>
  <%= form.text_field :title %>
  </div>
  <div class="task_content">
  <%= form.label :content %>
  <%= form.text_field :content %>
  </div>
  <div class="task_deadline">
  <%= form.label :deadline %>
  <%= form.datetime_field :deadline %>
  </div>
  <div class="task_progress">
  <%= form.label :progress %>
  <%= form.select :progress, Task.enum_options_for_select(:progress) %>
  </div>
  <div class="task_priority">
  <%= form.label :priority %>
  <%= form.select :priority, Task.enum_options_for_select(:priority) %>
  </div>
  <div>
  <%= form.submit class: "btn btn-success my-lg-4" %>
  </div>
<% end %>
</div>