<h1><%= t('.task_list') %></h1>
<%= link_to t('.new'), new_task_path %>
<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.content') %></th>
    <% case params[:sort_expired] %>
    <% when "desc" %>
    <th><%= link_to t('.deadline'), tasks_path(sort_expired: "asc") %></th>
    <% when "asc" %>
    <th><%= link_to t('.deadline'), tasks_path(sort_expired: "desc") %></th>
    <% else %>
    <th><%= link_to t('.deadline'), tasks_path(sort_expired: "desc") %></th>
    <% end %>
    <th><%= t('.created_at') %></th>
    <th><%= t('.progress') %></th>

  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td class='task_row' ><%= task.title %></td>
      <td class='task_row' ><%= task.content %></td>
      <td class='task_row' ><%= task.deadline.strftime('%Y/%m/%d') %></td>
      <td class='task_row' ><%= task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      <td class='task_row' ><%= task.human_attribute_enum(:progress) %></td>
      <td><%= link_to t('.show'), task_path(task.id) %></td>
      <td><%= link_to t('.edit'), edit_task_path(task.id), data: {confirm: t('.confirm_edit')} %></td>
      <td><%= link_to t('.destroy'), task_path(task.id), method: :delete, data: {confirm: t('.confirm_destroy')} %></td>
    </tr>
  <% end %>
</table>
