<h1><%= t('.task_list') %></h1>
<%= form_with scope: :search, url: tasks_path, method: :get, local: true do |form| %>
  <%= t('.title') %>　<%= form.search_field :title, placeholder: "検索..." %>
  <%= t('.progress') %>　<%= form.select :progress, Task.enum_options_for_select(:progress), include_blank: "選択してください" %>
  <%= form.submit t('.search') %>
<% end %>
<%= link_to t('.new'), new_task_path %>
<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.content') %></th>
    <% case params[:sort_deadline] %>
    <% when "desc" %>
    <th><%= link_to t('.deadline'), tasks_path(sort_deadline: "asc") %></th>
    <% when "asc" %>
    <th><%= link_to t('.deadline'), tasks_path(sort_deadline: "desc") %></th>
    <% else %>
    <th><%= link_to t('.deadline'), tasks_path(sort_deadline: "desc") %></th>
    <% end %>
    <th><%= t('.created_at') %></th>
    <th><%= t('.progress') %></th>
    <% case params[:sort_priority] %>
    <% when "desc" %>
    <th><%= link_to t('.priority'), tasks_path(sort_priority: "asc") %></th>
    <% when "asc" %>
    <th><%= link_to t('.priority'), tasks_path(sort_priority: "desc") %></th>
    <% else %>
    <th><%= link_to t('.priority'), tasks_path(sort_priority: "desc") %></th>
    <% end %>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td class='task_row' ><%= task.title %></td>
      <td class='task_row' ><%= task.content %></td>
      <td class='task_row' ><%= l task.deadline, format: :long %></td>
      <td class='task_row' ><%= l task.created_at, format: :long %></td>
      <td class='task_row' ><%= task.human_attribute_enum(:progress) %></td>
      <td class='task_row' ><%= task.human_attribute_enum(:priority) %></td>
      <td><%= link_to t('.show'), task_path(task.id) %></td>
      <td><%= link_to t('.edit'), edit_task_path(task.id), data: {confirm: t('.confirm_edit')} %></td>
      <td><%= link_to t('.destroy'), task_path(task.id), method: :delete, data: {confirm: t('.confirm_destroy')} %></td>
    </tr>
  <% end %>
</table>
