<h1> <%= t('.show_a_task_detail') %></h1>
<p><%= t('.title') %> <%= @task.title %></p>
<p><%= t('.content') %><%= @task.content %></p>
<p><%= t('.deadline') %><%= @task.deadline.strftime('%Y/%m/%d') %></p>
<br>
<%= link_to t('.edit'), edit_task_path(@task.id) %>